DATABASE_URL="mysql://root:@localhost:3334/fanta"
PORT=3535
FRONTEND_URL=http://localhost:3000  
JWT_SECRET=bigode
SENDGRID_API_KEY=sengridkey
NODE_ENV="prod"
EMAIL_USER="SEUEMAIL"
EMAIL_PASS="password key"
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465

GN_CLIENT_ID=Client_Id_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
GN_CLIENT_SECRET=Client_Secret_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
GN_ENDPOINT=https://pix-h.api.efipay.com.br
PIX_KEY=XXXXXXXXX
GN_CERT=../certs/XXXXXXXXX-XXXXXX-XXX.p12
